In [30]:
#1) How-to-count-distance-to-the-previous-zero
#For each value, count the difference of the distance from the previous zero (or the start
#of the Series, whichever is closer) and if there are no previous zeros,print the position
#Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
#The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

import pandas as pd
import numpy as np

#Read dataframe
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

#get all non zero
idx_zero =np.r_[-1,(df['X'] == 0).nonzero()[0]]

idx = np.arange(len(df))

df['Y'] = idx - idx_zero[np.searchsorted(idx_zero - 1, idx) - 1]

df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [6]:
#1) How-to-count-distance-to-the-previous-zero
#For each value, count the difference of the distance from the previous zero (or the start
#of the Series, whichever is closer) and if there are no previous zeros,print the position
#Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
#The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

# Another way using series

import pandas as pd
import numpy as np

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
#print(df)

ser = pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])

(ser.groupby(ser.eq(0).cumsum().mask(ser.eq(0))).cumcount() + 1).mask(ser.eq(0), 0).tolist()

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

In [32]:
#2.create a datetimindex that contains each business day of 2015 and use it to index a series of random numbers
import pandas as pd
import numpy as np
#the random numbers are fixed so any number of time it runs the value will not change
np.random.seed(101)
# B is th efreq for business day
date_idx=pd.period_range('2015-01', periods=365, freq='B')

s = pd.Series(np.random.rand(len(date_idx)), index=date_idx)

print(s)

2015-01-01    0.516399
2015-01-02    0.570668
2015-01-05    0.028474
2015-01-06    0.171522
2015-01-07    0.685277
2015-01-08    0.833897
2015-01-09    0.306966
2015-01-12    0.893613
2015-01-13    0.721544
2015-01-14    0.189939
2015-01-15    0.554228
2015-01-16    0.352132
2015-01-19    0.181892
2015-01-20    0.785602
2015-01-21    0.965483
2015-01-22    0.232354
2015-01-23    0.083561
2015-01-26    0.603548
2015-01-27    0.728993
2015-01-28    0.276239
2015-01-29    0.685306
2015-01-30    0.517867
2015-02-02    0.048485
2015-02-03    0.137869
2015-02-04    0.186967
2015-02-05    0.994318
2015-02-06    0.520665
2015-02-09    0.578790
2015-02-10    0.734819
2015-02-11    0.541962
                ...
2016-04-14    0.477787
2016-04-15    0.713425
2016-04-18    0.707663
2016-04-19    0.499877
2016-04-20    0.126692
2016-04-21    0.886634
2016-04-22    0.209648
2016-04-25    0.430610
2016-04-26    0.912268
2016-04-27    0.939001
2016-04-28    0.578569
2016-04-29    0.863774
2016-05-02    0.683537
2016-05-03    0.479563
2016-05-04    0.443231
2016-05-05    0.119945
2016-05-06    0.441757
2016-05-09    0.434100
2016-05-10    0.472092
2016-05-11    0.303878
2016-05-12    0.889408
2016-05-13    0.009608
2016-05-16    0.095076
2016-05-17    0.669777
2016-05-18    0.408124
2016-05-19    0.845397
2016-05-20    0.311757
2016-05-23    0.856074
2016-05-24    0.033738
2016-05-25    0.992224
Freq: B, Length: 365, dtype: float64

In [33]:
#3) Find the sum of the values in s for every Wednesdayimport pandas as pd
import pandas as pd
import numpy as np
#the random numbers are fixed so any number of time it runs the value will not change
np.random.seed(101)
date_idx=pd.period_range('2015-01', periods=365, freq='B')

s = pd.Series(np.random.rand(len(date_idx)), index=date_idx)
s[date_idx.weekday == 2].sum()

38.05231217427865

In [34]:
#4) Average For each calendar month
import pandas as pd
import numpy as np
#the random numbers are fixed so any number of time it runs the value will not change
np.random.seed(101)

date_idx=pd.period_range('2015-01', periods=365, freq='B')
s = pd.Series(np.random.rand(len(date_idx)), index=date_idx)
# Do the summation usingsum
s[date_idx.weekday == 2].sum() 

#find the average using mean function
s.resample('M').mean()

2015-01    0.494796
2015-02    0.543884
2015-03    0.447033
2015-04    0.524018
2015-05    0.449844
2015-06    0.557363
2015-07    0.512081
2015-08    0.578272
2015-09    0.517534
2015-10    0.483025
2015-11    0.508680
2015-12    0.515917
2016-01    0.502113
2016-02    0.460358
2016-03    0.549333
2016-04    0.563533
2016-05    0.471627
Freq: M, dtype: float64

In [40]:
#5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

s.groupby(pd.Grouper(freq='q')).idxmax()

2015Q1   2015-02-05
2015Q2   2015-04-29
2015Q3   2015-08-10
2015Q4   2015-10-22
2016Q1   2016-03-23
2016Q2   2016-05-25
Freq: Q-DEC, dtype: object

In [19]:
#5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
s.groupby(pd.TimeGrouper('4M')).idxmax()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)

2015-01   2015-04-02
2015-05   2015-07-22
2015-09   2015-10-25
Freq: 4M, dtype: object